body{
	text-align: center;
}

#header{
	height:180px;
}

.header_links{
	position: absolute;
	right: 50px;
	top: -18px;
	color: rgb(100,100,100);
	font-size: medium;
	font-weight: 200;
	word-spacing: 15px;
}

img{
	display: block;
	margin: 10px auto;
}

#search{
	height: 42px;
	width: 30%;
	margin: auto;
	color: black;
	border: 1px solid rgb(220,220,220);
	border-radius: 1px;
	box-shadow: 0px 1px rgb(230,230,230);

}

#seach:focus,#search:hover{
	box-shadow: 3px 3px 5px rgb(230,230,230);
}

#search input{
	position: relative;
	height: 75%;
	width: 90%;
	right: 8px;
	bottom: 18px;
	border: none;
	outline: none;
}

#search img{
	position: relative;
	display: inline;
	height: 24px;
	width: 24px;
}

button{
	height: 35px;
	width: 7%;
	margin: 29px 4px;
	color: #757575;
	font-size: 80%;
	font-weight: 700;
	border: 1px #f2f2f2 solid;
	border-radius: 2px;
	background-color: #f2f2f2;
}

button:hover{
	color: #222;
	background-color: #f8f8f8;
	border: 1px #c6c6c6 solid;
}


p{
	margin: 2%;
	font-size: small;
}